/* This imports all of our partials to be compiled into one stylesheet, which you can than 
attach to your html.

All files that are previxed with an underscore "_name-of-file.scss" are called partials - meaning their css isn't 
compiled unless its imported into and unprefixed .scss file. */

//Import variables, mixins and other modules
@import "base";
@import "mixins";

//Component rules
@import "components/main";


a:link,
a:visited,
a:active {
	color: $font;
}

a:hover{
	color:$primary-dark;
}


.nav a:hover {
    color: $primary;
}

.nav{
	position: fixed;
	width: 100%;
	height: 85px;
	top: 0;
	z-index: 999;
	padding-top: 0.45em;
}